a {
  text-decoration: none;
}

button {
  background: whitesmoke;
  border: thin solid rgba(0, 0, 0, 0.726);
  height: 70px;
  width: 70px;
}

button:hover {
  box-shadow: 3px 3px 3px grey;
}

button text {
  color: black;
  font-weight: bold;
}

#gallery {
  background-color: black;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#gallery_content {
  border-left: thick solid whitesmoke;
  border-right: thick solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}

#greeting-container {
  margin-top: 20px;
  color: black; 
}

#g_title {
  color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px 3px rgb(206, 145, 53);
}

#g_title {
  display: flex;
  justify-content: center;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  margin: 10px;
}

.image-thumbnails img {
  margin: 10px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.image-thumbnails img:hover {
  border: thick solid rgb(218, 164, 84);
}

#intro {
  border: thick solid black;
  display:flex;
  flex-wrap:wrap;
  height: 400px;
  justify-content: center;
  width: 892px;
}

body {
  align-content: center;
  display: flex;
  flex-direction: column;
  font: 100 1.3em sans-serif;
  padding: 0 5rem;
}

h1 {
  font-weight: 100;
}

.display {
  display: grid;
  gap: 0.1em;
  grid-template-columns: 50% 50%;
}

.HOVER {
  --width: 100%;
  --time: 0.7s;

  background: #222;
  color: white;
  display: inline-block;
  height: 1em;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.HOVER text {
  position: relative;
  transition: color var(--time);
  z-index: 5;
}

.HOVER:hover text {
  color: #222;
}

.HOVER span {
  border-radius: 100%;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
  width: 0;
  z-index: 0;
}

#til span {
  background: rgb(212, 226, 240);
}

#mc span {
  background: rgb(252, 252, 206);
}

#mp span {
  background: rgb(250, 212, 227);
}

#mkg span {
  background: rgb(214, 252, 205);
}

.HOVER:hover span {
  padding-top: calc(var(--width) * 2.25);
  width: calc(var(--width) * 2.25);
}

#my_poems {
  background: rgb(248, 250, 255);
}

#light {
  display: inline-block;
  margin: 20px;
}

#light button {
  border-radius: 50%;
  background: rgb(216, 210, 248);
  height: 40px;
  width: 40px;
}

#light {
  display: flex;
  justify-content: center;
}

#maket { 
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

td #maket {
  vertical-align: top; 
}

#spacer {
  width: 10px; 
}

#leftcol {
  width: 595px;
  border-right: 1px dotted #000;
}

.poem1 {
  border-bottom: thin dotted black;
  border-top: thin dotted black;
  height: 225px;
}

.poem1 text:hover {
  color:rgb(3, 3, 206);
}

.poem1:hover {
  background: rgba(255, 252, 244, 0.397);
}

.poem2 {
  border-bottom: thin dotted black;
  height: 275px;
}

.poem2 text:hover {
  color:rgb(3, 3, 206);
}

.poem2:hover {
  background: rgba(255, 252, 244, 0.397);
}

.poem3 {
  border-bottom: thin dotted black;
  height: 1575px;
}

.poem3 text:hover {
  color:rgb(3, 3, 206);
}

.poem3:hover {
  background: rgba(255, 252, 244, 0.397);
}

#poem {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#trans {
  font-size: 22px;
  font-weight: normal;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#mp_title {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px 3px rgba(218, 216, 248, 0.904);
}

#mp_title {
  display: flex;
  justify-content: center;
}
