a {
  text-decoration: none;
}

button {
  border: thin solid rgba(0, 0, 0, 0.726);
  height: 70px;
  width: 70px;
}

button:hover {
  box-shadow: 3px 3px 3px grey;
}

button text {
  color: black;
  font-weight: bold;
}

#gallery {
  background-color: black;
}

#login_page {
  color: white;
  left: 800px;
  margin-right: auto;
  margin-top: 200px;
  position: absolute;
  z-index: 0;
}

.login {
  background-color: black;
  color: white;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  width: 300px;
}

#content {
  height: 950px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 900px;
  position: absolute;
  z-index: 1;
}

#content h1 {
  color: white;
}

#gallery_content {
  border-left: thick solid whitesmoke;
  border-right: thick solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}

#greeting-container {
  margin-top: 20px;
  color: whitesmoke; 
}

#g_title {
  color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px 3px rgb(206, 145, 53);
}

#g_title {
  display: flex;
  justify-content: center;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  margin: 10px;
}

.image-thumbnails img {
  margin: 10px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.image-thumbnails img:hover {
  border: thick solid rgb(218, 164, 84);
}

#content {
  background-color: black;
  background-image: url(Backgrounds/blue.jpg);
  background-blend-mode: hard-light;
}

#main {
  background-color: black;
}

#intro {
  border: thick solid black;
  box-shadow: inset 3px 3px 0 0 #9EEFE1, 
              inset -5px -5px 0 0 rgb(250, 182, 194),
              inset 8px 8px 0 0 rgb(90, 107, 180),
              inset -10px -10px 0 0 rgb(147, 116, 165),
              inset 13px 13px 0 0 rgb(20, 36, 107),
              inset -15px -15px 0 0 rgb(74, 16, 107);
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: center;
  width: 892px;
}

#main p {
  color:whitesmoke;
}

#main button {
  background-color: rgba(87, 219, 236, 0.479);
  box-shadow: inset 1px 1px 0 0 #9EEFE1, 
              inset -3px -3px 0 0 rgb(250, 182, 194);
}

#intro_txt {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  justify-content: center;
  padding: 30px;
}

body {
  align-content: center;
  display: flex;
  flex-direction: column;
  font: 100 1.3em sans-serif;
  padding: 0 5rem;
}

h1 {
  font-weight: 100;
}

.display {
  display: grid;
  gap: 0.1em;
  grid-template-columns: 50% 50%;
}

.HOVER {
  --width: 100%;
  --time: 0.7s;

  background: #222;
  color: white;
  display: inline-block;
  height: 1em;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.HOVER text {
  position: relative;
  transition: color var(--time);
  z-index: 5;
}

.HOVER:hover text {
  color: #222;
}

.HOVER span {
  border-radius: 100%;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
  width: 0;
  z-index: 0;
}

#til span {
  background: rgb(212, 226, 240);
}

#mc span {
  background: rgb(252, 252, 206);
}

#mp span {
  background: rgb(250, 212, 227);
}

#mkg span {
  background: rgb(214, 252, 205);
}

.HOVER:hover span {
  padding-top: calc(var(--width) * 2.25);
  width: calc(var(--width) * 2.25);
}

#my_poems { 
  background-color: black;
  background-image: url(Backgrounds/poems_black.jpg), url(Backgrounds/paper.jpg);
} 

#light {
  display: inline-block;
  margin: 30px;
}

#light button {
  border-radius: 50%;
  background: rgb(216, 210, 248);
  height: 40px;
  width: 40px;
}

#light {
  display: flex;
  justify-content: center;
}

#maket { 
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

td #maket {
  vertical-align: top; 
}

#spacer {
  width: 10px; 
}

#leftcol {
  width: 595px;
}

.poem1 {
  border-bottom: thin dotted black;
  height: 225px;
}

.poem1 text:hover {
  color:rgb(3, 3, 206);
}

.poem1:hover {
  background: rgba(255, 252, 244, 0.397);
}

.poem2 {
  border-bottom: thin dotted black;
  height: 275px;
}

.poem2 text:hover {
  color:rgb(3, 3, 206);
}

.poem2:hover {
  background: rgba(255, 252, 244, 0.397);
}

.poem3 {
  border-bottom: thin dotted black;
  height: 1575px;
}

.poem3 text:hover {
  color:rgb(3, 3, 206);
}

.poem3:hover {
  background: rgba(255, 252, 244, 0.397);
}

#poem_1 {
  background-color: rgba(245, 245, 245, 0.301);
  border-radius: 30%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 80px;
}

#poem_2 {
  background-color: rgba(245, 245, 245, 0.301);
  border-radius: 30%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 80px;
}

#poem_3 {
  background-color: rgba(245, 245, 245, 0.301);
  border-width: 1px 1px 1px;
  border-radius: 30%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 80px;
}

#trans {
  font-size: 12px;
  font-weight: normal;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#mp_title {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px 3px rgba(218, 216, 248, 0.904);
}

#mp_title {
  display: flex;
  justify-content: center;
}

#til_page {
    background: black;
}

#fact {
  background-image: linear-gradient(to right, rgb(247, 162, 232) 0%, #4830F0 51%, #9EEFE1 100%);
  border-radius: 10px;
  background-size: 200% auto;
  box-shadow: 0 0 5px rgba(230, 95, 207, 0.349);
  color: rgba(236, 220, 74, 0.76);
  height: 400px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  text-decoration: none;
  transition: .5s;
  width: 400px;
}

#fact:hover {
  background-position: right center;
}

#til_text {
  color:rgb(206, 231, 253);
  font-size: 50px;
  text-shadow: 2px 2px 2px rgb(7, 227, 235);
}

#bubbles {
  background-image: linear-gradient(to right, rgb(247, 162, 232) 0%, #4830F0 51%, #9EEFE1 100%);
  border-radius: 10px;
  background-size: 200% auto;
  box-shadow: 0 0 5px rgba(230, 95, 207, 0.349);
  color: rgba(236, 220, 74, 0.76);
  height: 100px;
  margin-top: 150px;
  outline: none;
  text-decoration: none;
  transition: .5s;
  visibility: hidden;
  width: 180px;
}

#bubbles:hover {
  background-position: right center;
}

#fun {
  color:rgb(206, 231, 253);
  font-size: 20px;
  text-shadow: 2px 2px 2px rgb(7, 227, 235);
}

#one {
  background-image: url(Backgrounds/bub0.jpg), url(Backgrounds/bub.jpg), url(Backgrounds/bub1.jpg), url(Backgrounds/bub2.jpg), url(Backgrounds/bub3.jpg), 
  url(Backgrounds/bub4.jpg), url(Backgrounds/bub5.jpg);
  background-size: 100px 117px;
  color: rgb(30, 250, 10);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#two {
  bottom: 400px;
  color: rgba(250, 20, 193, 0.774);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#three {
  bottom: 400px;
  color: rgb(248, 244, 12);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#four {
  bottom: 400px;
  color: rgb(253, 67, 67);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#five {
  bottom: 400px;
  color: rgb(13, 253, 241);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#six {
  bottom: 400px;
  color: rgb(252, 145, 4);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#seven {
  bottom: 400px;
  color: rgb(203, 150, 253);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#eight {
  bottom: 400px;
  color: rgb(23, 201, 97);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#nine {
  bottom: 400px;
  color: rgb(96, 214, 250);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

#ten {
  bottom: 400px;
  color: rgb(47, 79, 255);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

li {
  list-style-type: none;
}

#back {
  background-color: rgb(0, 255, 255);
  border: thin solid #222;
  height: 25px;
  width: 25px;
}

#welcome {
  color: rgb(255, 255, 177);
  margin-left: auto;
  margin-right: auto;
}

#comment-list {
  margin-left: auto;
  margin-right: auto;
}

#comment-list button {
  height: 20px;
  width: 70px;
}

#feedback_content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 950px;
}

#rating {
  height: 100px;
  width: 100px;
}

#result_user {
  background-color: black;
  font-size: 15px;
  height: 20px;
  width: 30px;
}

#result_comment {
  background-color: black;
  font-size: 15px;
  height: 20px;
  width: 30px;
}

#feedback button {
  background-color: aqua;
  border: thin solid rgb(249, 253, 4);
  height: 50px;
  width: 70px;
}

#feedback {
  background-color: black;
}

.comment {
  background-color: rgb(0, 29, 160);
}
.comment:hover {
  box-shadow: 4px 4px 4px rgb(255, 255, 164);
}

#feedback span {
  color: yellow;
}

input, select {
  background-color: aqua;
}

#feedback h1 {
  color: rgb(202, 248, 248);
  text-shadow: 1px 1px 0 rgb(0, 60, 255);
}

#rating {
  color: rgb(255, 255, 177);
}