
#gallery {
    background-color: black;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#gallery_content {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  border-left: thick solid whitesmoke;
  border-right: thick solid whitesmoke;
}

#greeting-container {
  margin-top: 20px;
}

#g_title {
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 3px 3px 3px rgb(206, 145, 53);
}

#g_title {
  display: flex;
  justify-content: center;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.image-thumbnails img:hover {
  border: thick solid rgb(218, 164, 84);
}
